src/pug/about.pug
<!DOCTYPE html/>
html(lang="en")
    include ./includes/head.pug






    body#fullpage
        include ./includes/notmain_header.pug
        
        .full_width.full_width__light.menu_fix
            .main_width.main_width__white
                ul.breadcrumbs
                    li
                        a(href="#") Главная страница
                    li О заводе
            .middle_nav.middle_nav_centered.main_width
                //- .middle_nav__name ООО «Профит»
                a(href="").button.button__yellow_d.button__yellow_d_darkfont.button__yellow_d__active о заводе
                a(href="").button.button__yellow_d.button__yellow_d_darkfont технологии
                a(href="").button.button__yellow_d.button__yellow_d_darkfont где купить
                a(href="").button.button__yellow_d.button__yellow_d_darkfont сертификаты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont выставки
                a(href="").button.button__yellow_d.button__yellow_d_darkfont объекты
                a(href="").button.button__yellow_d.button__yellow_d_darkfont стать дилером
        .full_width.full_width__light
            .main_width.main_width__white
                section.section_centered
                    .pre_h Вулкан
                    .middle_heading
                        .middle_heading_name О компании
                    article
                        p Завод «Вулкан» с 1996 года производит модульные дымоходы из нержавеющей стали  как бытового, так и промышленного назначения. С самого начала своей деятельности мы сосредоточили свое внимание на создании дымоходов с применением самых современных технологий и достижении в их производстве только наивысшего качества.

        include ./includes/page_baner.pug
 
        .full_width.full_width__light
            .main_width.main_width__white
                section.section_onefortwocols
                    article
                        h2 Для достижения этих целей были предприняты следующие шаги и действия:
                        ul
                            li Тщательное изучение европейских рынков и производства, достижение соглашений с ведущими мировыми компаниями в этой области;
                            li Постоянный мониторинг мирового и отечественного рынка, консультации и обмен опытом  с европейскими производителями, которые продолжаются по сей день;
                            li Закупка и установка передового немецкого, швейцарского, австрийского, итальянского оборудования самого современного технологического оснащения;
                            li Набор в штат высокопрофессиональных специалистов, инженеров и конструкторов, проведение для них постоянных тренингов, дополнительное обучение и стажировка на лучших мировых производствах;
                            li Открытие независимой опытно-испытательной лаборатории при заводе «Вулкан»;
                            li Использование только высококачественных материалов для производства дымоходов и их элементов, которые закупаются только у проверенных поставщиков и проходят дополнительную проверку, экспертизы, испытания и спектральный анализ.
                            p Современное, передовое производство дымоходов, дымоходных систем и их элементов обеспечивается и другими, не менее важными факторами. Например, для изготовления линейных труб и фасонных изделий (тройники, отводы, кронштейны и т. д.) используются высоколегированные нержавеющие аустенитные стали, специально разработанные для применения в условиях агрессивной среды. 

                            p Внутренний контур элементов дымохода изготовляется из стали марки AISI 321, обладающей повышенной жаростойкостью (до 850°С), механической и химической прочностью. Внешний контур - из аустенитной полированной нержавеющей стали AISI 304. 

                            p За счет повышенной доле никеля в ее формуле, сталь AISI 304 является глубоко аустенитной - те есть стабильной по структуре и не склонной к межкристаллитной коррозии. Помимо этого, сталь устойчива к воздействию окружающей среды, перепадам температуры, может использоваться в любых климатических условиях.
                        h2 Передовое, современное производство завода «Вулкан» находится на высочайшем, европейском уровне также за счет использования высоких технологий, инновационных разработок и передовых исследований. К высоким технологиям, которые использует завод, нужно отнести следующие:
                        ul
                            li Плазменная TIG-сварка. Осуществляется на станке TIG исключительно стык в стык, в среде инертных газов. Служит абсолютной герметичности дымохода;
                            li Лазерный раскрой 2D и 3D (Швейцария). Обеспечивает максимальную точность изготовления каждой детали дымохода;
                            li Мощные вальцовочные станки производства Германии;
                            li Огнестойкая теплоизоляция категории «пожарная», толщиной от 50 мм от известного датского производителя  ROCKWOOL Wired Mat. Изоляционный слой рассчитан на рабочую температуру до 1000°С.
                            li Эксклюзивная система термокомпенсации. Разработана инженерами завода «Вулкан». Компенсирует линейное расширение внутреннего контура, предотвращает егог смещение по отношению к наружному контуру дымохода.

                            p Качество и надежность продукции современного завода «Вулкан» подтверждается всеми необходимыми лицензиями и сертификатами. Все изготавливаемые элементы дымоходов имеют  Сертификат Соответствия Госстандарта России и Сертификат Пожарной Безопасности. В соответствии со СП7.13130.2013 дымоходы «Вулкан» могут использоваться для подключения к каминам, устанавливаемым в жилых многоэтажных и общественных зданиях.
 
                            p Клиентами завода «Вулкан» являются такие крупные производители, как, например, заводы Toyota и Nissan, сеть гипермаркетов «Окей» и многие другие, для которых были изготовлены дымоходные системы промышленного назначения.

                            p Завод «Вулкан» предоставляет внушительную гарантию на все изготавливаемые дымоходы, производственные элементы и дымоходные системы бытового и промышленного назначения - 50 лет.



        include ./includes/cert_slider.pug
        include ./includes/logos_list.pug
        include ./includes/callback_block.pug
        include ./includes/footer.pug

dist/about.html
<!DOCTYPE html/>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Page Title</title>
        <meta name="description" content="Page Description"/>
        <meta name="image" content="img/SiteImage.png"/>
        <meta itemprop="name" content="Page Title"/>
        <meta itemprop="description" content="Page Description"/>
        <meta itemprop="image" content="img/SiteImage.png"/>
        <meta name="og:title" content="Page Title"/>
        <meta name="og:description" content="Page Description"/>
        <meta name="og:image" content="img/PreviewImage.png"/>
        <meta name="og:url" content="http://site.ru"/>
        <meta name="og:site_name" content="Site Name"/>
        <meta name="og:locale" content="ru_RU"/>
        <meta name="og:video" content="Video.avi"/>
        <meta name="fb:admins" content="#facebookadminid"/>
        <meta name="fb:app_id" content="facebookAppID"/>
        <meta name="og:type" content="website"/>
        <meta name="author" content="lum.ru"/>
        <script src="https://cdn.jsdelivr.net/pace/1.0.2/pace.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/pace/1.0.2/themes/yellow/pace-theme-flash.css"/>
        <link rel="stylesheet" href="css/main.css"/>
        <link rel="stylesheet" href="components/responsive-tabs/css/responsive-tabs.css"/><!--bower:css-->
<link rel="stylesheet" href="components/swiper/dist/css/swiper.css" />
<link rel="stylesheet" href="components/animate.css/animate.css" />
<link rel="stylesheet" href="components/magnific-popup/dist/magnific-popup.css" />
<link rel="stylesheet" href="components/drift/dist/drift-basic.css" />
<!--endbower--><link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#b91d47">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
    </head>
    <body id="fullpage">
        <div class="handhelds_topbar"><a class="small_logo" href="/dist/"><img src="img/mini_logo.png" alt=""/></a></div>
        <header class="section header header_notmain">
            <div class="header_filter"></div>
            <div class="handhelds_menu"></div>
            <div class="top_line">
                <div class="tel"><a href="tel:88127023637"><span>(812)</span> 702 36 37</a></div>
                <div class="menu_logo">
                    <ul class="mainmenu_items">
                        <li class="current"><a href="index.html">Главная</a></li>
                        <li class="current"><a href="video.html">Видео</a></li>
                        <li><a href="objects.html">Объекты</a></li>
                    </ul><a class="small_logo" href="/dist/"><img src="img/mini_logo.png" alt=""/></a>
                    <ul class="mainmenu_items">
                        <li><a href="faq.html">Вопрос-Ответ</a></li>
                        <li><a href="stati.html">Статьи</a></li>
                        <li><a href="wallpapers.html">Обои</a></li>
                    </ul>
                </div><a class="button button__yellow_d button__yellow_d_lightfont header_button_margin" href="#">стать дилером</a>
            </div>
            <div class="handhelds_menu"></div>
        </header>
        <div class="full_width full_width__light menu_fix">
            <div class="main_width main_width__white">
                <ul class="breadcrumbs">
                    <li><a href="#">Главная страница</a></li>
                    <li>О заводе</li>
                </ul>
            </div>
            <div class="middle_nav middle_nav_centered main_width"><a class="button button__yellow_d button__yellow_d_darkfont button__yellow_d__active" href="">о заводе</a><a class="button button__yellow_d button__yellow_d_darkfont" href="">технологии</a><a class="button button__yellow_d button__yellow_d_darkfont" href="">где купить</a><a class="button button__yellow_d button__yellow_d_darkfont" href="">сертификаты</a><a class="button button__yellow_d button__yellow_d_darkfont" href="">выставки</a><a class="button button__yellow_d button__yellow_d_darkfont" href="">объекты</a><a class="button button__yellow_d button__yellow_d_darkfont" href="">стать дилером</a></div>
        </div>
        <div class="full_width full_width__light">
            <div class="main_width main_width__white">
                <section class="section_centered">
                    <div class="pre_h">Вулкан</div>
                    <div class="middle_heading">
                        <div class="middle_heading_name">О компании</div>
                    </div>
                    <article>
                        <p>Завод «Вулкан» с 1996 года производит модульные дымоходы из нержавеющей стали  как бытового, так и промышленного назначения. С самого начала своей деятельности мы сосредоточили свое внимание на создании дымоходов с применением самых современных технологий и достижении в их производстве только наивысшего качества.</p>
                    </article>
                </section>
            </div>
        </div>
        <div class="full_width">
            <div class="section">
                <div class="infoblock" id="prefer" data-0-start="background-position:0 -2000px;" data-0-end="background-position:0 500px;" style="background-image:url('img/preim.png');">
                    <div class="middle_heading middle_heading__light">
                        <div class="infoblock_name">Завод «Вулкан» специализируется на производстве дымоходов уже более 17 лет.</div>
                        <div class="infoblock_text">За это время было предпринято много действий для достижения максимального качества, надежности продукции современного производства «Вулкан».</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full_width full_width__light">
            <div class="main_width main_width__white">
                <section class="section_onefortwocols">
                    <article>
                        <h2>Для достижения этих целей были предприняты следующие шаги и действия:</h2>
                        <ul>
                            <li>Тщательное изучение европейских рынков и производства, достижение соглашений с ведущими мировыми компаниями в этой области;</li>
                            <li>Постоянный мониторинг мирового и отечественного рынка, консультации и обмен опытом  с европейскими производителями, которые продолжаются по сей день;</li>
                            <li>Закупка и установка передового немецкого, швейцарского, австрийского, итальянского оборудования самого современного технологического оснащения;</li>
                            <li>Набор в штат высокопрофессиональных специалистов, инженеров и конструкторов, проведение для них постоянных тренингов, дополнительное обучение и стажировка на лучших мировых производствах;</li>
                            <li>Открытие независимой опытно-испытательной лаборатории при заводе «Вулкан»;</li>
                            <li>Использование только высококачественных материалов для производства дымоходов и их элементов, которые закупаются только у проверенных поставщиков и проходят дополнительную проверку, экспертизы, испытания и спектральный анализ.</li>
                            <p>Современное, передовое производство дымоходов, дымоходных систем и их элементов обеспечивается и другими, не менее важными факторами. Например, для изготовления линейных труб и фасонных изделий (тройники, отводы, кронштейны и т. д.) используются высоколегированные нержавеющие аустенитные стали, специально разработанные для применения в условиях агрессивной среды. </p>
                            <p>Внутренний контур элементов дымохода изготовляется из стали марки AISI 321, обладающей повышенной жаростойкостью (до 850°С), механической и химической прочностью. Внешний контур - из аустенитной полированной нержавеющей стали AISI 304. </p>
                            <p>За счет повышенной доле никеля в ее формуле, сталь AISI 304 является глубоко аустенитной - те есть стабильной по структуре и не склонной к межкристаллитной коррозии. Помимо этого, сталь устойчива к воздействию окружающей среды, перепадам температуры, может использоваться в любых климатических условиях.</p>
                        </ul>
                        <h2>Передовое, современное производство завода «Вулкан» находится на высочайшем, европейском уровне также за счет использования высоких технологий, инновационных разработок и передовых исследований. К высоким технологиям, которые использует завод, нужно отнести следующие:</h2>
                        <ul>
                            <li>Плазменная TIG-сварка. Осуществляется на станке TIG исключительно стык в стык, в среде инертных газов. Служит абсолютной герметичности дымохода;</li>
                            <li>Лазерный раскрой 2D и 3D (Швейцария). Обеспечивает максимальную точность изготовления каждой детали дымохода;</li>
                            <li>Мощные вальцовочные станки производства Германии;</li>
                            <li>Огнестойкая теплоизоляция категории «пожарная», толщиной от 50 мм от известного датского производителя  ROCKWOOL Wired Mat. Изоляционный слой рассчитан на рабочую температуру до 1000°С.</li>
                            <li>Эксклюзивная система термокомпенсации. Разработана инженерами завода «Вулкан». Компенсирует линейное расширение внутреннего контура, предотвращает егог смещение по отношению к наружному контуру дымохода.</li>
                            <p>Качество и надежность продукции современного завода «Вулкан» подтверждается всеми необходимыми лицензиями и сертификатами. Все изготавливаемые элементы дымоходов имеют  Сертификат Соответствия Госстандарта России и Сертификат Пожарной Безопасности. В соответствии со СП7.13130.2013 дымоходы «Вулкан» могут использоваться для подключения к каминам, устанавливаемым в жилых многоэтажных и общественных зданиях.</p>
                            <p>Клиентами завода «Вулкан» являются такие крупные производители, как, например, заводы Toyota и Nissan, сеть гипермаркетов «Окей» и многие другие, для которых были изготовлены дымоходные системы промышленного назначения.</p>
                            <p>Завод «Вулкан» предоставляет внушительную гарантию на все изготавливаемые дымоходы, производственные элементы и дымоходные системы бытового и промышленного назначения - 50 лет.</p>
                        </ul>
                    </article>
                </section>
            </div>
        </div>
        <div class="main_width">
            <div class="swiper_block cert_slider section">
                <div class="header_block">
                    <div class="header_block_descr">наши</div>
                    <div class="header_block_name">сертификаты</div>
                    <div class="swiper_block_slider_nav">
                        <div class="swiper_block_slider_nav_prev"></div>
                        <div class="swiper_block_slider_nav_next"></div>
                    </div><a class="button button__yellow_d button__yellow_darkfont sliderbtn_pos" href="#">Смотреть все</a>
                </div>
                <div class="swiper_block_slider swiper-wrapper">
                    <div class="swiper_block_slide swiper_block_slide__cert swiper-slide"><a class="certificat" href="img/cert2.png"><img src="img/cert2.png" alt=""/></a><a class="swiper_block_name" href="#">Менеджмент безопасности труда и охраны здоровья "Вулкан" OHSAS 18001:2007</a>
                        <div class="swiper_block_text">Действителен с 15.06.2016 по 15.06.2019</div>
                    </div>
                    <div class="swiper_block_slide swiper_block_slide__cert swiper-slide"><a class="certificat" href="img/cert2.png"><img src="img/cert2.png" alt=""/></a><a class="swiper_block_name" href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a>
                        <div class="swiper_block_text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.Lorem ipsum dolor. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo necessitatibus quis cupiditate laboriosam, aliquam, nulla sed illo voluptatum eum, quia, rerum distinctio. Nesciunt quas veritatis tempore, unde voluptatum sapiente quo neque, minus odit fugit sit possimus rerum sequi ratione officiis.</div>
                    </div>
                    <div class="swiper_block_slide swiper_block_slide__cert swiper-slide"><a class="certificat" href="img/cert2.png"><img src="img/cert2.png" alt=""/></a><a class="swiper_block_name" href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a>
                        <div class="swiper_block_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.</div>
                    </div>
                    <div class="swiper_block_slide swiper_block_slide__cert swiper-slide"><a class="certificat" href="img/cert2.png"><img src="img/cert2.png" alt=""/></a><a class="swiper_block_name" href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a>
                        <div class="swiper_block_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.</div>
                    </div>
                    <div class="swiper_block_slide swiper_block_slide__cert swiper-slide"><a class="certificat" href="img/cert2.png"><img src="img/cert2.png" alt=""/></a><a class="swiper_block_name" href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a>
                        <div class="swiper_block_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.</div>
                    </div>
                    <div class="swiper_block_slide swiper_block_slide__cert swiper-slide"><a class="certificat" href="img/cert2.png"><img src="img/cert2.png" alt=""/></a><a class="swiper_block_name" href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a>
                        <div class="swiper_block_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full_width full_width__light">
            <div class="section">
                <div class="main_width where_buy" id="where_buy">
                    <div class="middle_heading middle_heading__dark">
                        <div class="middle_heading_descr">Наши</div>
                        <div class="middle_heading_name">Партнеры</div>
                    </div>
                </div>
                <div class="logo_list main_width">
                    <div class="logo_list_item"><img src="img/partners_logo.png" alt=""/></div>
                    <div class="logo_list_item"><img src="img/partners_logo.png" alt=""/></div>
                    <div class="logo_list_item"><img src="img/partners_logo.png" alt=""/></div>
                    <div class="logo_list_item"><img src="img/partners_logo.png" alt=""/></div>
                    <div class="logo_list_item"><img src="img/partners_logo.png" alt=""/></div>
                    <div class="logo_list_item"><img src="img/partners_logo.png" alt=""/></div>
                    <div class="logo_list_item"><img src="img/partners_logo.png" alt=""/></div>
                    <div class="logo_list_item"><img src="img/partners_logo.png" alt=""/></div>
                    <div class="logo_list_item"><img src="img/partners_logo.png" alt=""/></div>
                    <div class="logo_list_item"><img src="img/partners_logo.png" alt=""/></div>
                    <div class="logo_list_item"><img src="img/partners_logo.png" alt=""/></div>
                    <div class="logo_list_item"><img src="img/partners_logo.png" alt=""/></div>
                    <div class="logo_list_item"><img src="img/partners_logo.png" alt=""/></div>
                </div>
            </div>
        </div>
        <div class="full_width">
            <div class="section">
                <div class="callback_block">
                    <div class="middle_heading middle_heading__light">
                        <div class="middle_heading_descr">возникли вопросы?</div>
                        <div class="middle_heading_name">свяжитесь с нами</div>
                        <div class="middle_heading_text">Обращайтесь и получите бесплатную консультацию. Proin sodales pulvinar tempor.</div>
                    </div>
                    <form class="callback_block_form" action="#">
                        <input type="text" requared="requared" name="yourname" placeholder="Ваше имя"/>
                        <input class="phone_number" type="text" requared="requared" name="phone" placeholder="Номер телефона"/>
                        <select id="callback_select" size="1" name="callback_select" requared="requared">
                            <option value="1">Выберите регион</option>
                            <option value="1">Санкт-Петербург</option>
                            <option value="1">Москва</option>
                            <option value="1">Пенза</option>
                            <option value="1">Тула</option>
                            <option value="1">Тверь</option>
                            <option value="1">Омск</option>
                            <input class="button button__white" type="submit" value="Отправить заявку"/>
                        </select>
                    </form>
                </div>
            </div>
        </div>
        <footer class="section onepage">
            <div class="footer_block">
                <div class="footer_link_block">
                    <ul>
                        <li class="wtht_mrkr"><a href="#"><img src="img/footer-logo.png" alt=""/></a></li>
                        <li>
                            <div class="tel"><a href="tel:88127023637"><span>(812)</span> 702 36 37</a></div>
                        </li>
                        <li><a href="mailto:test@test.ru">info@dymohodvulkan.ru</a></li>
                        <li class="copyright">© 2016 ООО «Дымоход»</li>
                    </ul>
                    <ul>
                        <li>О заводе</li>
                        <li> <a href="#">Технологии</a></li>
                        <li> <a href="#">Где купить</a></li>
                        <li> <a href="#">Сертификаты</a></li>
                        <li> <a href="#">Выставки награды</a></li>
                        <li> <a href="#">Объекты</a></li>
                        <li> <a href="#">Стать диллером</a></li>
                    </ul>
                    <ul>
                        <li>Каталог</li>
                        <li> <a href="#">Двустенные</a></li>
                        <li> <a href="#">Одностенные</a></li>
                        <li> <a href="#">Овальные</a></li>
                        <li> <a href="#">Коксиальные</a></li>
                        <li> <a href="#">Колективные</a></li>
                        <li> <a href="#">Аксессуары</a></li>
                        <li> <a href="#">Выставочные стенды</a></li>
                    </ul>
                    <ul>
                        <li>Услуги</li>
                        <li> <a href="#">Монтаж</a></li>
                        <li> <a href="#">Проектирование</a></li>
                    </ul>
                    <ul>
                        <li>Поддержка</li>
                        <li> <a href="#">Вопрос/ответ</a></li>
                        <li> <a href="#">Статьи/блог</a></li>
                        <li> <a href="#">Инструкции, сертификаты</a></li>
                        <li> <a href="#">Обои для рабочего стола</a></li>
                        <li> <a href="#">Видео</a></li>
                        <li> <a href="#">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <ul class="tmp_nav">
            <li><a href="index.html">index</a></li>
            <li><a href="about.html">about</a></li>
            <li><a href="buy.html">buy</a></li>
            <li><a href="catalog.html">catalog</a></li>
            <li><a href="good_page.html">good_page</a></li>
            <li><a href="catalog_parent.html">catalog_parent</a></li>
            <li><a href="certs.html">certs</a></li>
            <li><a href="dealer.html">dealer</a></li>
            <li><a href="download.html">download</a></li>
            <li><a href="exposition.html">exposition</a></li>
            <li><a href="faq.html">faq</a></li>
            <li><a href="good_page.html">good_page</a></li>
            <li><a href="montage.html">montage</a></li>
            <li><a href="objects.html">objects</a></li>
            <li><a href="projectdev.html">projectdev</a></li>
            <li><a href="services.html">services</a></li>
            <li><a href="stati.html">stati</a></li>
            <li><a href="support.html">support</a></li>
            <li><a href="technologies.html">technologies</a></li>
            <li><a href="video.html">video</a></li>
            <li><a href="wallpapers.html">wallpapers</a></li>
        </ul><!--bower:js-->
<script src="components/swiper/dist/js/swiper.js"></script>
<script src="components/jquery/dist/jquery.js"></script>
<script src="components/scrollreveal/dist/scrollreveal.js"></script>
<script src="components/letteringjs/jquery.lettering.js"></script>
<script src="components/textillate/jquery.textillate.js"></script>
<script src="components/waypoints/lib/noframework.waypoints.js"></script>
<script src="components/skrollr/src/skrollr.js"></script>
<script src="components/jquery.easing/js/jquery.easing.js"></script>
<script src="components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="components/drift/dist/Drift.js"></script>
<script src="components/jquery-validation/dist/jquery.validate.js"></script>
<script src="components/jquery.maskedinput/dist/jquery.maskedinput.js"></script>
<script src="components/desandro-matches-selector/matches-selector.js"></script>
<script src="components/fizzy-ui-utils/utils.js"></script>
<script src="components/get-size/get-size.js"></script>
<script src="components/ev-emitter/ev-emitter.js"></script>
<script src="components/outlayer/outlayer.js"></script>
<script src="components/masonry/masonry.js"></script>
<script src="components/isotope/js/isotope.js"></script>
<!--endbower-->
        <script src="https://cdn.jsdelivr.net/g/jquery.ui@1.11.4"></script>
        <script src="components/isotope/dist/isotope.pkgd.min.js"></script>
        <script src="components/mixitup/dist/mixitup.min.js"></script>
        <script src="components/responsive-tabs/js/jquery.responsiveTabs.min.js"></script>
        <script src="js/all.min.js"></script>
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9iCxyR97TuK7IOxdKlx5lf6FsfuQm4MI"></script>
    </body>
</html>
